
$theme-color: #0E45D8;
$theme-dark-color: #C5C5C5;

// 白色
$white: #FFFFFF;
// 黑色
$black: #000000;
// 亮灰色
$light_gray: #A0A0A0;
$light_gray1: #eeeeee;
$light_gray2: #cccccc;

// 字体灰色1
$text-gray-color1: #A0A0A0;
$text-gray-color2: #E64747;
$text-gray-color3: #45C98F;
$text-gray-color4: #01DFB8;
$text-gray-color5: #404040;
$text-gray-color6: #DDDDDD;
$text-gray-color7: #999999;
$light-green: #BAFAE1;
$default-color:#151515;
$text-gray-color8: #9F9E9E;


// 点缀色
$adorn-green: #4FC295;
$adorn-red: #FF242F;
$adorn-pink: #FD6A62;
$adorn-orange: #FF7428;
$adorn-gold: #C68507;
$adorn-yellow: #FDC331;
$adorn-blue: #00a8ff;

// 分割线
$split-line-color1: #454C5D;
$split-line-color2: #D8D8D8;

// 局部背景颜色
$section-bg-color1: #393939;
$section-bg-color2: #0E45D8;
$page-bg-color: #F6F5F5;
$page-bg-color1: #f6f6f6;
$page-bg-color2: #f1f1f1;
$page-tip-color: #FF1426;
$page-bg-color3: #454C5D;
$page-bg-color4: #F9F8F9;


$page-bg-color5:#07224D;
$button-color:#0E45D8;
$button-default-color:#516986;